.container{
    width: 1200px;
    margin: auto;
}
.section_above_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name_of_market{

}
.search{

}
.search_input{
    font-size: 14px;
    padding: 5px 15px;
}

.filters{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 20px;
    justify-content: space-around;

}
.list_of_actives{
    display: flex;
    flex-direction: column;

}
.list_item{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.list_item_link{
    padding: 10px;
}
.cart{
    display: flex;

}
.list_cart{
    padding: 10px;
}
.list_favourite{
    padding: 10px;
}
.filter_item_name{
    display: flex;
    justify-content: flex-start;
    flex: 0.3;
    font-size: 14px;
    color: #1E2329;
}
.filter_item_price{
    display: flex;
    justify-content: flex-start;
    flex: 0.5;
    font-size: 14px;
    color: #1E2329;

}
.filter_item_change{
    display: flex;
    justify-content: flex-start;
    flex: 0.25;
    font-size: 14px;
    color: #1E2329;

}
.filter_item_trades{
    display: flex;
    justify-content: center;
    flex: 0.25;
    font-size: 14px;
    color: #1E2329;
}
.plug{
    flex: 0.1;
}
.filter_wrapper{
    flex: 0.6;
    display: flex;
}