.main-item{
    background-color: #4444;
    color:aqua;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart{
    width: 1000px;
}
.ticker{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}