.section_above_list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name_of_market{

}
.search{

}
.search_input{
    font-size: 14px;
    padding: 5px 15px;
}

.filters{
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 0px 0;

}
.list_of_actives{
    display: flex;
    flex-direction: column;

}
.list_item{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.list_item_link{
    padding: 10px;
}
.cart{
    display: flex;

}
.list_cart{
    padding: 10px;
}
.list_favourite{
    padding: 10px;
}
.filter_item_name{
    display: flex;
    font-size: 14px;
    color: #1E2329;
}
.filter_item_price{
    display: flex;
    font-size: 14px;
    color: #1E2329;

}
.filter_item_change{
    display: flex;
    justify-content: start;
    font-size: 14px;
    color: #1E2329;

}
.filter_item_trades{
    display: flex;
    justify-content: start;
    font-size: 14px;
    color: #1E2329;
}
.filter_item_wrapper:hover{
    cursor: pointer;
    color: #696969;
}
.plug{
    flex: 0.1;
}
.filter_wrapper{
    flex: 0.6;
    display: flex;
}
/*@media screen and (max-width: 1024px) and (min-width: 769px){*/
/*    .section_above_list{*/
/*        max-width: 769px;*/
/*        margin-right: 0;*/
/*    }*/
/*    .filters{*/
/*        max-width: 769px;*/

/*    }*/
/*}*/